{% extends 'layout.html' %}

{% block content %}
    {% include 'common/navbar.html' %}
    {% include 'common/header.html' %}

    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    {% include 'common/breadcrumb.html' %}

                    <div class="main-body">
                        <div class="page-wrapper">
                            <form action="{{ url_for('reg.polynomial_regression' | urlencode, _anchor='model-result') }}" 
                                  method="POST" 
                                  enctype="multipart/form-data">

                                {% include 'common/upload_file.html' %}

                                {%- if data_show is not none -%}
                                    <div class="row mt-5">
                                        <div class="col-md-12 offset-2 col-xl-8">
                                            <div id="data-show" class="card shadow-1 card-shadow-hover animate__animated animate__fadeIn">
                                                {% include 'common/data_show.html' %}

                                                <div class="card-header">
                                                    <h5 class="text-uppercase">
                                                        <i class="feather icon-crosshair mr-2"></i>
                                                        {%- if lang == 'en' -%}
                                                            Select your column
                                                        {%- else -%}
                                                            Sélectionnez votre colonne
                                                        {% endif %}
                                                    </h5>
                                                </div>

                                                <div class="card-block pb-4">
                                                    <div class="row pl-3">
                                                        <div class="col-8 mr-5 input-group mb-4 p-l-0 p-r-0">
                                                            <div class="input-group-prepend">
                                                                <button class="btn btn-secondary disabled" type="button">
                                                                    {%- if lang == 'en' -%}
                                                                        My column is ...
                                                                    {%- else -%}
                                                                        Ma colonne est ...
                                                                    {% endif %}
                                                                </button>
                                                            </div>

                                                            {%- if score_list | count == 0 -%}

                                                                {%- if data_show is not none or df_columns | count > 0 -%}
                                                                    <select class="custom-select" name="feature">
                                                                {%- else -%}
                                                                    <select class="custom-select" name="feature" disabled>
                                                                {% endif %}

                                                                {%- if df_columns | count > 0 -%}
                                                                    {%- for columns in df_columns -%}
                                                                        <option value={{ columns | e }}>
                                                                            {{ columns | e }}
                                                                        </option>
                                                                    {% endfor %}
                                                                {%- else -%}
                                                                    <option>
                                                                        {%- if lang == 'en' -%}
                                                                            No usable columns
                                                                        {% else %}
                                                                            Aucune colonnes utilisables
                                                                        {% endif %}
                                                                    </option>
                                                                {% endif %}
                                                                </select>

                                                            {% else %}
                                                                <select class="custom-select" name="feature" disabled>
                                                                    <option value={{ feature | e }}>
                                                                        {{ feature | e }}
                                                                    </option>
                                                                </select>
                                                            {% endif %}
                                                        </div>

                                                        <div class="col-3 ml-5 pl-0">
                                                            <input class="btn btn-primary text-uppercase btn-block"
                                                                {%- if data_show is not none and df_columns | count > 0 and score_list | count == 0 -%}
                                                                    name="submit_btn"
                                                                    type="submit"
                                                                    value={%- if lang == 'en' -%}
                                                                            "Launch the model"
                                                                          {%- else -%}
                                                                            "Lancer le modèle"
                                                                          {% endif %}
                                                                    />
                                                                {%- else -%}
                                                                    value={%- if lang == 'en' -%}
                                                                            "Launch the model"
                                                                          {%- else -%}
                                                                            "Lancer le modèle"
                                                                          {% endif %}
                                                                    disabled />
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </form>
                        </div>

                        {%- if score_list | count > 0 -%}
                            {% include 'common/model_result.html' %}

                            <script>
                                let columns = {{ df_columns | tojson | e }}
                                let score   = {{ score_list | tojson | e }}

                                let bar_graph = [
                                    {
                                        x: columns,
                                        y: score,
                                        type: 'bar'
                                    }
                                ];

                                let title_graph = {
                                    title: {{ graph_title | tojson | e }},
                                    yaxis: {
                                        title: 'Correlation in %'
                                    }
                                };

                                Plotly.newPlot('model_result', bar_graph, title_graph);
                            </script>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}