{% extends "layout.html" %}
{% block content %}
{% from "_formhelpers.html" import render_field %}


<div class="d-flex align-items-center justify-content-center bg-br-primary ht-120v">
    <div class="login-wrapper wd-600 wd-xs-600 pd-20 pd-xs-40 bg-white rounded shadow-base">
        <div class="signin-logo tx-center tx-28 tx-bold tx-inverse">
            <span class="tx-normal">[</span> 
            e<span class="tx-info">SHOP</span> 
            <span class="tx-normal">]</span>
        </div>

        <div class="tx-center mg-t-20 mg-b-20">
            Create your own account.
            <hr>
        </div>

        <form action="" method="POST">
            {{ form.csrf_token }}
            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{render_field(form.username, class="form-control", placeholder="Enter your username")}}
                    </div>

                    <div class="col-6">
                        {{render_field(form.email, class="form-control", placeholder="Enter your username")}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{render_field(form.password, class="form-control", placeholder="Enter your password")}}
                    </div>

                    <div class="col-6">
                        {{render_field(form.confirm, class="form-control", placeholder="Confirm your password")}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        <label class="d-block tx-14 tx-bold">
                            Profile Picture
                        </label>
                        {{form.profile}}
                    </div>
                </div>
            </div>

            <div class="tx-center mg-t-30 mg-b-25">
                <hr>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{render_field(form.firstname, class="form-control", placeholder="Enter your firstname")}}
                    </div>

                    <div class="col-6">
                        {{render_field(form.lastname, class="form-control", placeholder="Enter your lastname")}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{render_field(form.country, class="form-control", placeholder="Enter your country")}}
                    </div>

                    <div class="col-6">
                        {{render_field(form.city, class="form-control", placeholder="Enter your city")}}
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-6">
                        {{render_field(form.zipcode, class="form-control", placeholder="Enter your zip code")}}
                    </div>

                    <div class="col-6">
                        {{render_field(form.address, class="form-control", placeholder="Enter your address")}}
                    </div>
                </div>
            </div>

            <div class="form-group tx-12">
                By clicking the Sign Up button below, you agreed to our privacy policy and terms of use of our website.
            </div>

            <button type="submit" class="btn btn-info btn-block">
                Sign Up
            </button>

            <div class="mg-t-40 tx-center">
                You already have an account ? 
                <a href="#" class="tx-info">
                    Sign In
                </a>
            </div>
        </form>
    </div>
</div>

  {% endblock %}